body {
    font-family: Arial;
    background-color:rgb(60, 60, 60);
    color: white;
}

a {
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: orange;
    color: white;
}

section {
    overflow: auto;
}

.left {
    width: 45%;
    float: left;
}

.right {
    width: 45%;
    float: right;
}