body {
    font-family: Arial;
}

a {
    display: block;
    text-align: center;
    color: black;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    background-color: purple;
    color: white;
}

section {
    overflow: auto;
}

.left {
    width: 45%;
    float: left;
}

.right {
    width: 45%;
    float: right;
}